* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #0f172a;
    color: #fff;
}

h1 {
    color: #059669;
}

a {
    color: #64748b;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #059669;
    text-decoration: underline;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #64748b;
    border-radius: 5px;
    background-color: #64748b;
    color: #fff;
}

input[type="submit"] {
    padding: 10px;
    border: 1px solid #059669;
    border-radius: 5px;
    background-color: #059669;
    color: #fff;
    cursor: pointer;
}

ul {
    list-style: none;
}

ul li {
    padding: 10px;
    border: 1px solid #64748b;
    border-radius: 5px;
    background-color: #64748b;
    color: #fff;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

ul li .playlist_name {
    color: #fff;
}

ul li:hover {
    background-color: #059669;
    scale: 1.1;
}

.center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 12px;
}

.spacing {
    padding: 1rem;
}

.self-end {
    align-self: flex-start;
}

.flex {
    display: flex;
}

.flex-form {
    align-items: end;
    gap: 8px;
}

.flex-inputs {
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.flex-inputs input {
    width: 200px;
}

