{% extends 'base.html' %} {% block head %}
<title>Chatrooms</title>
{% endblock %} {% block body %}
<div class="flex flex-col items-center justify-center gap-3 m-2">
  <a href="/playlists" class="bg-emerald-500 rounded-lg p-2 m-2 self-start"
    >All Playlists</a
  >
  <form
    method="post"
    class="bg-emerald-500 rounded-lg max-w-md w-80 p-4 h-80 flex flex-col gap-4"
  >
    <div class="flex flex-col items-center justify-center">
      <h3 class="font-bold text-slate-950 text-lg">Welcome to chatrooms!</h3>
      <p class="text-slate-700">
        This is the place where you can chat with other users about music!
      </p>
    </div>
    <div class="flex flex-col gap-2">
      <label for="name">Chatroom Name:</label>
      <input
        class="p-2 rounded-lg bg-slate-300 text-slate-950"
        type="text"
        name="name"
        id="name"
        value="{{name}}"
        placeholder="Pick a name!"
      />
    </div>
    <div class="flex items-center gap-2">
      <input
        type="text"
        placeholder="Room Code"
        name="code"
        value="{{code}}"
        class="p-2 rounded-lg bg-slate-300 text-slate-900"
      />
      <button type="submit" name="join" class="bg-slate-900 p-2 rounded-lg text-sm">
        Join Room
      </button>
    </div>
    <button type="submit" name="create" class="bg-slate-900 p-2 rounded-lg mb-2">
      Create a Room
    </button>
    {% if error %}
    <ul>
      <li>{{error}}</li>
    </ul>
    {% endif %}
  </form>
</div>

{% endblock %}
